<md-card fxLayout="column" fxLayoutAlign="center center">
  <md-card-title>Register</md-card-title>
  <md-input-container>
    <input mdInput placeholder="Email" type="email" required [formControl]="emailFormControl">
    <md-icon mdSuffix>{{emailStatus}}</md-icon>
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Password" type="password" required>
  </md-input-container>
  <p> <i> ** This role is for testing only. This will be handled by Team #number</i></p>
  <md-radio-group class="example-radio-group" [(ngModel)]="accountType">
    <md-radio-button class="example-radio-button" *ngFor="let type of accountTypes" [value]="type">
      {{type}}
    </md-radio-button>
  </md-radio-group>


  <!--<div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>-->

  <div>
    <p>{{this.message}}</p>
  </div>
  <div fxlayout="row" fxLayoutAlign="center">
    <button md-raised-button routerLink="/">Canel</button>
    <span fxFlex="10px"></span>
    <button md-raised-button color="primary" [disabled]="!this.formIsValue" (click)="this.newAccount()">Create Account</button>
  </div>





</md-card>