<md-nav-list>
  <h3 md-subheader>Book Filter Options</h3>
  <md-list-item>
    <button md-button="">
    Filter Option 1
    </button>
  </md-list-item>
  <md-list-item>
    <button md-button="">
      Filter Option 2
    </button>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Book Management Menu</h3>
  <md-list-item>
    <button md-button="">
    Add Book
    </button>
  </md-list-item>
  <md-list-item>
    <button md-button="">
    Tagging
    </button>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Admin</h3>
  <md-list-item>
    <button md-button="">
    Inventory
    </button>
  </md-list-item>
  <md-nav-list>