<md-toolbar color="primary">
  <span id="riticon" routerLink="/" style="cursor:pointer"></span>
  <span class="md-toolbar-filler"></span>
  <!--<button md-button (click)="authService.login()" *ngIf="!authService.isAuthenticated()">Log In</button>-->
  <button md-button routerLink='/login' *ngIf="!authService.isAuthenticated()">Log In</button>
  <button md-button="" routerLink="/checkout">
    <md-icon>shopping_cart</md-icon> {{orderService.books.length}}
  </button>
  <button md-button [mdMenuTriggerFor]="appMenu" *ngIf="authService.isAuthenticated()">
   <md-icon>account_circle</md-icon>
   {{authService.account.email}}
</button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item *ngIf="authService.isAuthenticated()" routerLink="/orders">
  <md-icon>list</md-icon>
    Order History
  </button>
  <button md-menu-item *ngIf="authService.isAuthenticated() && authService.account.type !== 'student'" routerLink="/books/new">
  <md-icon>create</md-icon>
    Create book
  </button>
  <button md-menu-item (click)="authService.logout()" *ngIf="authService.isAuthenticated()">
    <md-icon>exit_to_app</md-icon>
    Log Out</button>
</md-menu>