<md-card fxLayout="column" fxLayoutAlign="center center">
  <md-card-title>New Book</md-card-title>
  <div fxFlex="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
    <md-input-container fxFlex="80">
      <input mdInput placeholder="ISBN" disabled [(ngModel)]="book.isbn">
    </md-input-container>
    <p>{{message}}</p>
    <md-input-container fxFlex="80">
      <input mdInput placeholder="Title" required [(ngModel)]="book.title">
    </md-input-container>
    <!---->

    <md-input-container fxFlex="80">
      <input mdInput placeholder="Thumbnail URL" required [(ngModel)]="book.thumbnail_url">
    </md-input-container>
    <!---->
    <div fxFlex="80">
      <md-card-subtitle>Authors:</md-card-subtitle>
      <md-chip-list>
        <md-chip *ngFor="let author of book.authors; let i = index;" (click)="book.authors.splice(i,1)">{{author}}</md-chip>
      </md-chip-list>
      <md-input-container style="width:80%">
        <input mdInput #authorInput placeholder="Author" [formControl]="this.authorFormControl" [mdAutocomplete]="authorAutoComplete">
      </md-input-container>
      <button md-icon-button="" (click)="this.addAuthor(authorFormControl.value);"><md-icon>add</md-icon></button>
      <md-autocomplete #authorAutoComplete="mdAutocomplete">
        <md-option *ngFor="let author of filteredAuthors | async" [value]="author.name">{{author.name}}</md-option>
      </md-autocomplete>
      <!--<div fxFlex="40">-->
      <!--</div>-->
    </div>
    <!---->
    <div fxFlex="80">
      <md-card-subtitle>Courses:</md-card-subtitle>
      <md-chip-list>
        <md-chip *ngFor="let course of book.courses; let i = index;" (click)="book.courses.splice(i,1)">{{course}}</md-chip>
      </md-chip-list>
      <md-input-container style="width:80%">
        <input mdInput placeholder="Course" [formControl]="this.classFormControl" [mdAutocomplete]="classAutoComplete">
      </md-input-container>
      <md-autocomplete #classAutoComplete="mdAutocomplete">
        <md-option *ngFor="let class of filteredClasses | async" [value]="class">{{class}}</md-option>
      </md-autocomplete>
      <button md-icon-button="" (click)="this.addClass(classFormControl.value);"><md-icon>add</md-icon></button>
    </div>

    <div *ngIf="this.authService.account.type==='admin'">

      <md-input-container>
        <i mdPrefix>$</i><input mdInput placeholder="Price" required [(ngModel)]="book.price">

      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Count" type="number" min="0" [(ngModel)]="book.count">
      </md-input-container>
      <md-checkbox [(ngModel)]="book.available">Available</md-checkbox>
    </div>
  </div>
  <div>
    <button md-raised-button="" routerLink='/'>Cancel</button>
    <button md-raised-button="" color="primary" [disabled]="!formIsValid" (click)="createBook()">Update</button>
  </div>



</md-card>
<md-card>
  <md-card-title>Reviews</md-card-title>
  <md-card-content>
    <p *ngIf="this.book.reviews.length === 0">
      :=( Your list is empty
    </p>
    <md-list>
      <md-list-item *ngFor="let review of this.book.reviews">
        <img md-list-avatar src="{{'http://'}}" alt="...">
        <!--<h3 md-line class="click-me" (click)="this.readMore(article)"> {{article.title}} </h3>-->
        <p md-line>
          <span> {{review.content}} </span>
        </p>
        <p md-line="">{{review.time|date:'medium'}} by {{review.email}}</p>
        <button md-icon-button="" md-tooltip="Remove">
        <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-card-content>
  <!--<md-card-actions>
    <md-input-container style="min-width: 50%">
      <textarea mdInput #reviewInput placeholder="Review"></textarea>
    </md-input-container>
    <button md-button="" color="primary" (click)="addReview(reviewInput.value)" [disabled]="reviewInput.value.length===0">Submit</button>
    <button md-button="" routerLink='/'>Back</button>

  </md-card-actions>-->
</md-card>