<md-toolbar>
  <h3>Book Detail</h3>
</md-toolbar>
<!---->
<md-card fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
    <md-input-container fxFlex="80">
      <input mdInput placeholder="ISBN" required disabled value="{{book.isbn}}">
    </md-input-container>
    <md-input-container fxFlex="80">
      <input mdInput placeholder="Title" required [(ngModel)]="book.title" disabled="">
    </md-input-container>
    <!---->

    <md-input-container fxFlex="80">
      <input mdInput placeholder="Thumbnail URL" required disabled [(ngModel)]="book.thumbnail_url">
    </md-input-container>
    <!---->
    <div fxFlex="80" style="margin-bottom:1rem;">
      <md-card-subtitle>Authors:</md-card-subtitle>
      <md-chip-list>
        <md-chip *ngFor="let author of book.authors; let i = index;">{{author}}</md-chip>
      </md-chip-list>
      <!--<div fxFlex="40">-->
      <!--</div>-->
    </div>
    <!---->
    <div fxFlex="80">
      <md-card-subtitle>Courses:</md-card-subtitle>
      <md-chip-list>
        <md-chip *ngFor="let course of book.courses; let i = index;">{{course}}</md-chip>
      </md-chip-list>
    </div>

    <div style="margin-top:10px">
      <md-input-container>
        <input disabled mdInput placeholder="Price" required value="{{book.price | currency : 'USD' : true}}">
      </md-input-container>
      <md-input-container *ngIf="authService.isAuthenticated() && authService.account.type ==='admin'">
        <input mdInput placeholder="Count" disabled type="number" min="0" [(ngModel)]="book.count">
      </md-input-container>
      <md-checkbox disabled [(ngModel)]="book.available">Available</md-checkbox>

    </div>
  </div>

  <div>
    <button md-raised-button="" routerLink='/'>Back</button>
    <button md-raised-button="" color="primary" routerLink="edit" *ngIf=" authService.isAuthenticated() && authService.account.type !=='student'">Edit</button>
    <button md-raised-button="" color="primary" (click)="orderService.addBook(book)">Add To Cart</button>
  </div>
</md-card>

<md-card>
  <md-card-title>Reviews</md-card-title>
  <md-card-content>
    <p *ngIf="this.book.reviews.length === 0">
      :=( There is no review for this book yet.
    </p>
    <md-nav-list>
      <md-list-item *ngFor="let review of this.book.reviews">
        <img md-list-avatar src="{{'https://img.clipartfest.com/5a68d99cd467003c04b4ef64004c4313_download-this-image-as-profile-picture-clipart_600-557.png'}}"
          alt="...">
        <!--<h3 md-line class="click-me" (click)="this.readMore(article)"> {{article.title}} </h3>-->
        <p md-line>
          <span> {{review.content}} </span>
        </p>
        <span md-line>
        <md-icon *ngFor="let rate of getRate(review.rate)">star_rate</md-icon>
        </span>
        <p md-line="">{{review.time|date:'medium'}} by {{review.email}}</p>
        <button md-icon-button="" md-tooltip="Report problem">
        <md-icon>report_problem</md-icon>
        </button>
      </md-list-item>
    </md-nav-list>
  </md-card-content>
  <md-card-actions>
    <md-card-subtitle>
      <p *ngIf="!canReview">You have not purchased this book</p>
    </md-card-subtitle>
    <md-input-container style="min-width: 50%">
      <textarea mdInput #reviewInput placeholder="Review" [disabled]="!canReview"></textarea>
    </md-input-container>
    <md-select placeholder="Star(s)" [(ngModel)]="rate" name="rate">
      <md-option *ngFor="let rate of [1,2,3,4,5]" [value]="rate">
        {{rate}}
      </md-option>
    </md-select>
    <button md-button="" color="primary" (click)="addReview(reviewInput.value); reviewInput.value=''" [disabled]="reviewInput.value.length===0">Submit</button>
    <button md-raised-button="" routerLink='/'>Back</button>

  </md-card-actions>
</md-card>